a{
    text-decoration: none;
    color: cadetblue;
}

h1 {
    color: cadetblue;
    text-decoration: underline;
    font-style: italic;
    background-color: cornsilk;
}

h2 {
    color: cadetblue;
    font-style: italic;

}

h3 {
    color: cadetblue;
    font-style: italic;

}

h4 {
    color: cadetblue;

}